.booking-side-panel {
  min-width: 390px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 24px;

  .booking-side-block {
    border-radius: 22px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
    background: rgb(255, 255, 255);
  }

  .sides-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .booking-info-block {
    padding: 14px 16px;

    .booking-info-top {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: 22px;

      .booking-info-header {
        color: rgb(0, 0, 0);
        font-family: var(--font-montserrat), system-ui;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
      }

      .booking-info-dates {
        display: flex;
        flex-direction: row;
        justify-content: start;
        gap: 20px;

        .date-container {
          display: flex;
          flex-direction: column;
          align-items: stretch;

          .date-header {
            color: rgb(0, 0, 0);
            font-family: var(--font-nunito), system-ui;
            font-size: 14px;
            font-weight: 500;
          }

          .date-value {
            color: rgb(0, 0, 0);
            font-family: var(--font-montserrat), system-ui;
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;

            padding: 6px 0 4px 0;
          }

          .time-value {
            color: rgb(165, 165, 165);
            font-family: var(--font-montserrat), system-ui;
            font-size: 12px;
            font-weight: 500;
            line-height: 15px;
          }
        }

        .dates-separator {
          border: 1px solid rgba(225, 225, 225, 0.64);
        }
      }

      .booking-total-time-container {
        .total-time-header {
          color: rgb(0, 0, 0);
          font-family: var(--font-nunito), system-ui;
          font-size: 14px;
          font-weight: 500;
        }

        .total-time-value {
          color: rgb(0, 0, 0);
          font-family: var(--font-montserrat), system-ui;
          font-size: 16px;
          font-weight: 600;

          padding-top: 6px;
        }
      }
    }

    .vertical-separator {
      border: 1px solid rgb(240, 240, 240);

      margin: 18px 0;
    }

    .change-selection-button {
      border-radius: 14px;
      background: rgb(63, 82, 60);

      color: rgb(255, 255, 255);
      font-family: var(--font-nunito), system-ui;
      font-size: 14px;
      font-weight: 700;
      line-height: 100%;

      padding: 9px 18px;
    }
  }

  .booking-price-block {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 18px;

    padding: 14px 0;

    .price-padding {
      padding: 0 16px;
    }

    .price-details-block {
      .price-header {
        color: rgb(0, 0, 0);
        font-family: var(--font-montserrat), system-ui;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;

        padding-bottom: 6px;
      }

      .price-value-block {
        .price-value-title {
          color: rgb(0, 0, 0);
          font-family: var(--font-nunito), system-ui;
          font-size: 14px;
          font-weight: 500;
          line-height: 28px;
        }

        .price-value {
          color: rgb(0, 0, 0);
          font-family: var(--font-montserrat), system-ui;
          font-size: 16px;
          font-weight: 600;
          line-height: 20px;
        }
      }
    }

    .total-price-block {
      display: flex;
      flex-direction: column;
      align-items: end;

      background: rgb(227, 244, 225);
      padding: 16px;

      .full-price {
        color: rgb(249, 50, 50);
        font-family: var(--font-montserrat), system-ui;
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
        text-decoration: line-through;
      }

      .total-price-container {
        width: 100%;

        .total-price-title {
          color: rgb(0, 0, 0);
          font-family: var(--font-montserrat), system-ui;
          font-size: 20px;
          font-weight: 600;
          line-height: 24px;
        }

        .total-price-value {
          color: rgb(0, 0, 0);
          font-family: var(--font-montserrat), system-ui;
          font-size: 24px;
          font-weight: 600;
          line-height: 29px;
        }
      }

      .tax-info-label {
        color: rgb(81, 81, 81);
        font-family: var(--font-montserrat), system-ui;
        font-size: 10px;
        font-weight: 500;
        line-height: 12px;
      }
    }

    .tax-info-container {
      .tax-info-header {
        color: rgb(0, 0, 0);
        font-family: var(--font-montserrat), system-ui;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;

        padding-bottom: 6px;
      }

      .tax-info-value-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        .tax-info-title-container {
          display: flex;
          flex-direction: row;
          justify-content: start;

          .tax-info-title {
            color: rgb(0, 0, 0);
            font-family: var(--font-nunito), system-ui;
            font-size: 14px;
            font-weight: 500;
            line-height: 28px;

            padding-left: 8px;
          }
        }

        .tax-info-value {
          color: rgb(0, 0, 0);
          font-family: var(--font-montserrat), system-ui;
          font-size: 16px;
          font-weight: 600;
          line-height: 20px;
        }
      }
    }
  }

  .cancellation-info-block {
    padding: 14px 16px;

    .cancellation-header {
      color: rgb(0, 0, 0);
      font-family: var(--font-montserrat), system-ui;
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;

      padding-bottom: 4px;
    }

    .cancellation-message {
      color: rgb(0, 130, 53);
      font-family: var(--font-nunito), system-ui;
      font-size: 14px;
      font-weight: 500;
      line-height: 28px;

      padding-bottom: 10px;
    }

    .cancellation-date-price {
      color: rgb(0, 0, 0);
      font-family: var(--font-nunito), system-ui;
      font-size: 14px;
      font-weight: 500;
      line-height: 28px;
    }
  }
}
