.booking-page-main-container {
  padding-top: 42px;

  .booking-info-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 44px;

    .center-block {
      max-width: 920px;
    }
  }
}
