
.main-footer {
  --font-primary: "Nunito";

  width: 100%;
  background-color: #4c6048;
  color: white;
  font-family: var(--font-primary), system-ui;
  padding: 78px 100px;

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .side-section {
    width: 282px;
  }

  .footer-section {
    h2 {
      font-size: 16px;
      font-weight: 600;
      line-height: 22px;
      letter-spacing: 0;
    }

    h3 {
      font-size: 16px;
      font-weight: 700;
      line-height: 22px;
      letter-spacing: 0;

      padding-bottom: 6px;
    }

    ul {
      list-style: none;
      padding: 0;
    }

    li {
      font-size: 14px;
      font-weight: 500;
      line-height: 28px;
      letter-spacing: 0;
    }
  }

  .footer-subscribe-box {
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 55px;
    border-radius: 20px;
    border: none;
    padding: 9px;

    .footer-subscribe-input {
      border: none;
      border-radius: 20px;
      color: black;
      width: 100%;
      outline: none;
      padding: 0;

      font-size: 14px;
      font-weight: 500;
      line-height: 28px;
      letter-spacing: 0;
    }

    .footer-subscribe-button {
      color: white;
      background-color: #4c6048;
      border: none;
      border-radius: 15px;
      height: 100%;

      padding: 0 18px;
      font-size: 14px;
      font-weight: 700;
    }

    .footer-subscribe-button:hover {
      background-color: #ccc;
    }
  }
}