:root {
  --color-primary: rgb(63, 82, 60); // Основний колір
  --color-secondary: rgb(240, 240, 240); // Колір фону
  --color-accent: rgb(202, 226, 255); // Акцентний колір (для старих цін і інших дрібних елементів)
  --color-text: rgb(81, 81, 81); // Колір тексту

  --font-nunito: "Nunito";
  --font-montserrat: "Montserrat";
  --font-roboto: "Roboto";
  --font-lato: "Lato";
}

.stage-indicator-main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  .option-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    .option-circle {
      width: 54px;
      height: 54px;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      border-radius: 50%;

      .index {
        font-family: var(--font-montserrat), system-ui;
        font-size: 24px;
        font-weight: 600;
        line-height: 30px;
      }

      .index-current {
        color: rgb(255, 255, 255);
      }

      .index-other {
        color: var(--color-primary);
      }
    }

    .green {
      background-color: var(--color-primary);
    }

    .gray {
      background-color: var(--color-secondary);
    }

    .option-name {
      padding-left: 6px;
    }
  }

  .vertical-line {
    //width: 100%;
    flex-grow: 1;
    border: 1px solid var(--color-primary);
  }
}